# Connection URL for Redis
REDIS=

# Connection URL for MongoDB
MONGODB=

# Authentication
AUTHENTIK_ID=
AUTHENTIK_SECRET=
AUTHENTIK_ISSUER=https://sso.revolt.chat/application/o/swiss-army-knife

# Next Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=https://admin.revolt.chat

# Web server
PORT=3000

# Configure push notifications
NTFY_SERVER=https://ntfy.revolt.wtf
NTFY_TOPIC=reports
NTFY_USERNAME=admin-panel
NTFY_PASSWORD=

# Disable authentication and RBAC
# NEXT_PUBLIC_AUTH_TYPE=none

# Platform Account ID
PLATFORM_ACCOUNT_ID=01FC17E1WTM2BGE4F3ARN3FDAF
